.small {
    font-size: 10pt !important;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 30%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(1.28, -0.55, 0.265, 1.55);
    bottom: -0.1em !important;
}

.owl-dots {
    position: absolute;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    bottom: .5em;
}

.carouselCardMixAlbum:hover .small {
    height:101%;
    background: rgba(0,0,0,0.8);
}

.relative {
    position:relative;
}

.rightLink {
    position: absolute;
    right: 1em;
    top: 9px;
}

.rightLink a {
    font-weight:bold;
    text-transform: uppercase;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.rightLink a:hover {
    color: #b388ff;
}

@media(max-width:550px) {
    .rightLink {
        position: absolute;
        left: 50%;
        bottom: -2em;
        top: auto;
        width: 200px;
        margin-left: -100px;

    }
}