
.coverPhoto {
    max-width:100%;
    width:100%;
    height:190px;
    background:black;
}

.userPhoto {
    height:300px;
    width:300px;
    background:#ccc;
    margin-right:10em;
}

.feedBox .card .card-content {
    min-height:205px;
}

.feedBox .card p {
    position:absolute;
    bottom:1em;
    left:2em;
}

.detailPane {
    margin-top: -1em;
}

.tab-demo {
    margin-top: -2.3em;
}

.counts {}
.counts div {
    display: inline-block;
    margin: 0 0.3em 0 0.3em; }
.counts div p span {
    position: relative;
    top: -5px;
    font-size: 14pt;
    margin: .3em; }


.bio-text {
    margin: 1em 0 1em 0 !important;
}

.tab-area .row > .col:not(.padding){
    padding: 0;
}

.plainCard .card-image img {
    max-height:315px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition-timing-function: cubic-bezier(1.28, -0.55, 0.265, 1.55);
}

.plainCard:hover .card-image img, .carouselCard:hover .card-image img {
    opacity: 0.5;
}

.plainCard {
    max-height: 403px;
}
