body {
  background: #ecf0f1;
  overflow-x:hidden;
}

.coverbackground {
  width:100%;
  height:100vh;
  position:absolute;
  background: url(assets/images/coverBg.jpg) scroll no-repeat;
  background-size:cover;
}

.errorBox, .issueBox {
  position: absolute;
  top:40%;
  left:50%;
  width:650px;
  height:300px;
  margin-left:-350px;
  margin-top:-150px;
}

.tileBg {
  background: url(assets/images/grey-tile.jpg) fixed;
  padding: 10px;
  margin-top:-1em;
}

.stripBg {
  background:black;
  color:white;
  padding-top:10px;
  padding-bottom:70px;
}

.pullUpSlight {
  margin-top:-2em;
}

.hidden { display:none; }

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 1em;
  z-index: 996;
  cursor: pointer;
}

.scrollTop i {
  font-size: 20pt;
  color: white;
}

.side-nav {
  min-height: 1000px;
  z-index: 1002;
}

#sidenav-overlay {
  z-index: 0 !important;
}

nav ul li a {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
}

nav .brand-logo {
  font-family: 'Oswald', sans-serif;
}

.appRoot2 {
  min-height:700px;
}

.justify {
  text-align: justify;
}

.max-width {
  max-width:1200px;
  margin:auto;
}

.min-height {
  min-height: 570px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin{
  margin:0 !important;
}

.left-padding {
  padding-left: .5em;
}

.pushDown {
  margin-top:2em;
}

.pushDownLarge {
  margin-top:3em;
}

.owl-carousel {
  z-index: 0 !important;
}

.max-width {
  max-width:1200px;
  margin:auto;
}

input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #5e35b1 !important;
  box-shadow: 0 1px 0 0 #5e35b1 !important;
}

.buttonColor {
  background: #5e35b1;
}

.activeV {
  background:rgba(0,0,0,0.2);
}

.pagination li.active {
  background-color: #9575cd;
}

.pagination li:hover {
  background-color: #9575cd;
}

.pagination li:hover a{
  color:white;
}

.pagination li.active:hover {
  background-color: #5e35b1;
}

.pagination {
  cursor:pointer;
}

a {
  color: #5e35b1;
}

a:hover {
  color: #9575cd;
}

iframe {
  width:100%;
  outline: none;
  border: none;
}

.dataLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  margin-left: -150px;
  margin-top: -90px;
}

.commentSlide .card {
  min-height: 200px;
  max-height: 200px;
}

.headers {
  padding-left: .3em;
}

.heading-titles {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.btn-floating.halfway-fab {
  z-index: 0;
}

.plainCard .card-image img {
  min-height: 315px;
}

.carouselCard .card-image img{
  min-height: 255px;
}

.owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  background: black;
  width: 40px;
  height: 60px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  background: rgba(0,0,0,0.7);
  width: 40px;
  height: 60px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.owl-next, .owl-prev {
  margin-top:-20px;
}

.owl-next i, .owl-prev i {
  font-size: 35pt;
  color:white;
}

.owl-next i{
  margin-right:-5px;
  margin-top:5px;
}

.owl-prev i {
  margin-top:5px;
  margin-left:-5px;
}

@media(min-width:992px) {

  nav .brand-logo {
    padding-left: 1em;
  }

}


@media(max-width:501px) {
  .plainCard .card-image img {
    min-height:0;
  }
}


@media(max-width:992px) {
  .plainCard {
    min-height: 350px;
  }

  .plainCard .card-image img {
    min-height: 0;
  }

  .plainCard .card-content {
    padding: 24px 2px 0 2px;
  }


}

@media(max-width: 501px) {
  .hotBoxContainer {
    position: relative;
    overflow: hidden;
    height: auto; }

  .hotBoxContainer .imageContain {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: static; }

  .hotBoxContainer .imageContain img {
    width:100%;
  }

  .hotBoxContainer .card-content {
    padding: 20px 0 0 0;
    border-radius: 0 0 2px 2px;
  }

  .hotBoxContainer .counts {
    position: relative;
    top: 10px;
    right: 0;
  }

  .hotBoxContainer .tags {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .valign-wrapper {
    all: revert;

  }






}