body {
  background: #ecf0f1;
}

.tileBg {
  background: url(assets/images/grey-tile.jpg) fixed;
  padding: 10px;
  margin-top:-1em;
}

.stripBg {
  background:black;
  color:white;
  padding-top:10px;
  padding-bottom:70px;
}

.pullUpSlight {
  margin-top:-2em;
}

.hidden { display:none; }

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 1em;
  z-index: 996;
  cursor: pointer;
}

.scrollTop i {
  font-size: 20pt;
  color: white;
}

.side-nav {
  min-height: 1000px;
  z-index: 1002;
}

#sidenav-overlay {
  z-index: 0 !important;
}

nav ul li a {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
}

nav .brand-logo {
  font-family: 'Oswald', sans-serif;
}

.appRoot2 {
  min-height:700px;
}

.justify {
  text-align: justify;
}

.max-width {
  max-width:1200px;
  margin:auto;
}

.min-height {
  min-height: 570px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin{
  margin:0 !important;
}

.left-padding {
  padding-left: .5em;
}

.pushDown {
  margin-top:2em;
}

.pushDownLarge {
  margin-top:3em;
}

.owl-carousel {
  z-index: 0 !important;
}

.max-width {
  max-width:1200px;
  margin:auto;
}

input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #5e35b1 !important;
  box-shadow: 0 1px 0 0 #5e35b1 !important;
}

.buttonColor {
  background: #5e35b1;
}

.activeV {
  background:rgba(0,0,0,0.2);
}

.pagination li.active {
  background-color: #9575cd;
}

.pagination li:hover {
  background-color: #9575cd;
}

.pagination li:hover a{
  color:white;
}

.pagination li.active:hover {
  background-color: #5e35b1;
}

.pagination {
  cursor:pointer;
}

a {
  color: #5e35b1;
}

iframe {
  width:100%;
  outline: none;
  border: none;
}

.dataLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  margin-left: -150px;
  margin-top: -90px;
}

.commentSlide .card {
  min-height: 200px;
  max-height: 200px;
}

.headers {
  padding-left: .3em;
}

.heading-titles {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.btn-floating.halfway-fab {
  z-index: 0;
}

.plainCard .card-image img {
  min-height: 315px;
}

.carouselCard .card-image img{
  min-height: 255px;
}

@media(min-width:992px) {

  nav .brand-logo {
    padding-left: 1em;
  }

}